body{
    background-color: lightgray;
}
.calculatearea{
    background-color: white;
    width:300px;
    margin: 40px auto;
    padding: 10px;
    min-height:400px;
    border-radius: 10px;
    text-align: center;
}
.calculatearea input{
    height:30px;
    width:250px;        
    padding: 8px;     
    box-sizing: border-box;
}
.calculatearea select{
    height:30px;
    width:250px;        
    padding: 8px;     
    margin-bottom: 10px;
    box-sizing: border-box;
}
.calculatearea button{
width: 250px;
padding: 8px;
background-color: darkblue;
color: white;
font-weight: bold;
font-size: 16px;
}
