body{
	background-color:#A7CCED;
	color:white;
	font-family: tahoma,arial,sans-serif;
}
h1{
     text-align: center;
	font-family: ,arial,sans-serif,tahoma;
	 color: white;
     margin-bottom: 50px; 
      margin-bottom: 1em
}
ul.navbar {
    list-style-type: none;
    background-color: #2F3E46;
    color: white;
    padding: 0;
    top: 2em;
    left: 2em;
    width: 12em;
}
.navbar {
    list-style-type: none;       
    padding: 0;
    margin: 60px auto 0 auto;     
    display: flex;                
    justify-content: center;  
    background-color: #333;      
    min-width: 100%;          
    height: 50px;              
}              
.navbar li {
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 15px 65px;           
    position: relative;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}
.dropdown-menu {
    display: none;
    list-style-type: none;
     position: absolute;
    padding: 0;
    margin: 0;
    background-color: #3A4A57;
    top: 100%;             
    left: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.content-section {
    background-color: #E4DFDA;
    color: black;
     min-height: 220px; 
     min-width: 100%;
}
@media all {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        color: black;
        background-color: white;
    }
}