.main-container{
	display: flex;
	width: 1000px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 15px rgba(0,0,0,0.15);
	margin: 30px auto;
}
body{
	background-color:#D1D1D1;
	display: flex;
	justify-content: center;
}
.left-panel{
	width: 30%;
	background-color: #9DB4C0;
}
.right-panel{
	flex:1;
	background-color: white;
	text-align: left;
}
.photo-panel{
width: 100%;
}
.profile-img{
	width:100%;
	height:40%;
}
.text-content {
	display: block;
	background-color: #9DB4C0;
	margin-left: 10px;
}

.text-content h3 {
	display: block;
	background-color: #9DB4C0;
 	border-bottom: 2px solid; 
}

.section{
  margin-bottom: 15px; 
  text-align: left;
  margin-left: 20px;
}
.section-title {
    font-size: 22px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid; 
}
.year{
	color:#073B4C;
	font-weight: bold;
}
.description{
	color:black;
	margin-left: 20px;
	text-align: left;
}
.tag{
	background-color:#97D2FB;
	border-radius: 20px;
	padding: 5px;
	color:#3A6EA5;
}
.container{
    display: flex;
    justify-content: space-around;
    gap: 45px;
}
.hw-column{
	flex: 1;
	display:block ;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 10px;

}

.lab-column{
	flex:1;
	background-color: #f5f5f5;
	border-radius: 10px;
	display:block ;
	padding: 10px;
	margin-right: 25px;
}
a:hover{
	color: green;
}
.music{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.music-item {
    display: flex;
    flex-direction: column;  
    text-align: center; 
}
.music-note{
	text-align: left;
}